<div class="product-card">
  <% const img = (product.images && product.images.length > 0)
     ? product.images[0]
     : 'https://pkihtwrzvtwzmcvyfkka.supabase.co/storage/v1/object/public/product_images/test_image.png';
  %>

  <div class="img-thumbnail" style="background-image: url('<%= img %>'); background-size: cover; background-position: center;">
    <div><%- include('../partials/product-card-status', { product }) %></div>
    <span class="corner-sm tl"></span><span class="corner-sm tr"></span>
    <span class="corner-sm bl"></span><span class="corner-sm br"></span>
  </div>
  <div class="product-card-info">
    <p class="body-lg">
      <%= product.name %>
    </p>
    <div class="ratings-section">
      <p class="stars"><%= '★'.repeat(Math.round(product.rating)) + '☆'.repeat(5 - Math.round(product.rating)) %></p>
      <p class="data-tag ratings-num"><%= product.rating %></p>
    </div>
    <% if (product.status.includes('discount-available')) { %>
    <p class="data-price discount-available">$<%= product.price %></p>
    <% } else { %>
    <p class="data-price">$<%= product.price %></p>
    <% } %>
    <a href="/product/<%= product.sku %>"><button type="button" class="secondary-btn">view details <i class="fa-solid fa-angle-right" styte="color: var(--black)"></i></button></a>
  </div>
</div>
